{% extends 'base.html' %}

{% block javascript %}
<script>
    console.log(window.location.pathname.split(/(V[2,3])/g));
    $("#id_username").change((el) => {
        console.log(el.target);
        const username = $(el.target).val();
        const pathNameSplit = window.location.pathname.split(/(V[2,3])/g);
        let version = '';
        if (pathNameSplit.length > 1) {
            version = pathNameSplit[1];
        }

        $.ajax({
            url: `/ajax${version}/validate-username/`,
            data: {
                'username': username
            },
            dataType: 'json',
            success: data => {
                if (data.is_present) {
                    alert('A user with this username already exist.');
                }
            }
        });
    });
</script>
{% endblock %}

{% block content %}
<h1>Simple Ajax Django Example</h1>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Sign up</button>
</form>
{% endblock %}